<%- include('./layouts/header') %>

<h3>Available Schemes</h3>
<div>
   OBC Schemes
</div>
<div>EWS Scheme</div>
<div>General Scheme</div>
<div>SC/ST Scheme</div>
<div>Women Schemes</div>


<h3>Upload Files</h3>
<form action="/user/upload" enctype="multipart/form-data" method="POST">
    <input type="file" name="file" id="file" accept="image/* ,.pdf">
    <button type="submit" >Upload</button>
</form>

<%- include('./layouts/footer') %>

